body {
  padding: 25px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.input {
  font-style: italic;
  text-align: center;
}

table {
  overflow-x: auto;
}

td > ul {
  padding-left: 2rem;
  text-align: initial;
}

td > ul > li {
  white-space: nowrap;
  margin: 8px 0;
}

tr > th, tr > td {
  padding: 0.5em 2.5em 0.5em 2.5em;
  max-width: 24em
}

tr > *:first-child {
  padding-left: 0;
}